body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d5d5d5;
}

.container {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin-left: 400px;
  margin-top: 100px;
  border-radius: 10px;
  padding: 30px;
}

.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 95%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover:not([disabled]) {
  background-color: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

.next-btn {
  background-color: lightblue;
  font-weight: 500;
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin: 20px auto 0;
  cursor: pointer;
}

.correct {
  background-color: #9aeabc;
}

.incorrect {
  background-color: #ff9393;
}

.wrong {
  background-color: #ff9393;
}